
	<div class="row">
		<div class="col">
			 <h2>Create Post</h2>

    	<%= form_for(@post) do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :body %>
      <%= f.text_field :body, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary my-3" %>
    <% end %>
		</div>
	</div>
